html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}
/*----------------------Navigation Bar -------------------------*/
.nav{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding:20px;
    color: #f9faf8;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #131922;
}
.nav a{
    color: #bbbdb8;;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
.nav .logo{
    
    font-weight: bolder;
    font-size: 28px;
    font-family: cursive;
}
/*----------------------- Header Section---------------------------*/
.headsec{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
    flex-wrap:wrap;
    padding:40px 10px;
    align-items: center;
}
.heading{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
}
.heading .title{
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
    
}
.heading .h-text{
    margin: 0;
    color: #bbbdb8;
}
.h_signup{
    background: linear-gradient(90deg, rgb(25, 25, 53),linen) ;
    color: #0e0d11;
    width: 200px;
    border: none;
    padding:12px 24px;
    border-radius: 8px ;
    font-size: 20px;
    font-weight: 900;
    margin-top: 18px;
}

.head-img{
  max-width: 600px;
   max-height: 500px;
    border: none;
}
/*---------------- Main Section One ----------------*/

 .main_sec1 .sec1_title{
        margin: 50px;
        color: #1f2937;
        font-size: 38px;
        font-weight: bold;
    }

.image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.image_container img{
    max-width: 300px;
    max-height:300px;
    border: none;
    border-radius: 8px;
}
.imgandinfo p
{
width: 200px;
}
/*-----------------------Section Two --------------------------------------*/

.sectwo{
    background-color: #e5e5eb;
    margin: 0;
    padding-top: 5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.sectwo p{
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    width: 500px;
    color: #1f2937;
    padding: 10px;
    opacity: 0.5;
    text-align:justify ;
    
}
.sectwo span{
    font-weight: bold;
    padding:22px;
    padding-left: 22em;
}
/*------------------Section Three --------------------*/
.secthree
{
    display: flex;
   justify-content: center; 
   margin: 6em;
}

.signup {
     display: flex;
     gap: 5em;
     justify-content: space-around;
     text-align: justify;
     align-items: center;
     background-color: #3882f6;
     color: #e5e7eb;
     max-width: 900px;
     padding: 30px;
     border-radius: 8px;
     font-size: 18px;
}
.signup_btn button{
    background-color: transparent;
    color: #f9faf8;
    border:2px solid #f9faf8;
    padding: 6px 2em ;
    border-radius: 8px;
    font-size: 18px;
}
.signup_title span{
    font-size: 24px;
    font-weight:bold ;

}
.signup_title {

    font-size: 20px;
}
.footer{
    background-color: #1f2937;
    padding: 30px;
    color: #f9faf8;
    font-size: 16px;
}
/*-------------Responsive------------------*/
@media (max-width:789px){
    .logo{
        font-size: 18px;
        color:aqua;
    }
    .head-links{
        font-size:14px;
        display: flex;
        flex-direction: column;
    
    }
    .title{
        font-size:30px;
    }
    .h-text{
        font-size:16px;
    }
    .head-img{
        width: 460px;
        height:380px;
    }
    .image_container img{
        max-width: 250px;
        max-height:250px;
    }
    .image_container p{
       font-size: small;
    }
    .sectwo p{
        font-size: 24px;
        width:300px
    }
    .sectwo span{
        font-size: 14px;
    }
   
    signup_btn button{
        
        font-size: 14px;
    }
    .signup_title span{
        font-size: 20px;
        font-weight:bold ;
    
    }

}